.onscroll {
  box-shadow: 0 0 5px 1px #00000075;
  z-index: 1500 !important;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #2d0f0f !important;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: 0.5s;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  & svg{
    width: 30px;
  }
  &:hover {
    background-color: #6e2727 !important;
  }

  &:active {
    background-color: #3d1515 !important;
  }

  @media screen and (min-width : 768px) {
    & {
      height: 60px;
      width: 60px;
      & svg{
        width: 50px;
      }
    }
  }
}
